requests==2.31.0
beautifulsoup4==4.12.2
PyGithub==2.1.1
pylint==3.0.3
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Werkzeug==2.3.7
Jinja2==3.1.2
SQLAlchemy==2.0.23
pytest==7.4.3
chart.js==4.4.0
